# List comprehension

In [2]:
numbers = list(range(1,21))
dividible_by_3 = []
for number in numbers:
    if number % 3 == 0:
        dividible_by_3.append(number)
print(dividible_by_3)

[3, 6, 9, 12, 15, 18]

In [3]:
dividible_by_3 = [ number for number in numbers if number % 3 == 0 ]
print(dividible_by_3)

[3, 6, 9, 12, 15, 18]

In [5]:
dividible_by_3 = [ number * 10 for number in numbers if number % 4 == 0 ]
print(dividible_by_3)

[40, 80, 120, 160, 200]

In [6]:
dividible_by_3 = [ number if number % 3 ==0 else f'{number} nesidalina is 3' for number in range (1,21) ]
print(dividible_by_3)

['1 nesidalina is 3', '2 nesidalina is 3', 3, '4 nesidalina is 3', '5 nesidalina is 3', 6, '7 nesidalina is 3', '8 nesidalina is 3', 9, '10 nesidalina is 3', '11 nesidalina is 3', 12, '13 nesidalina is 3', '14 nesidalina is 3', 15, '16 nesidalina is 3', '17 nesidalina is 3', 18, '19 nesidalina is 3', '20 nesidalina is 3']

In [7]:
double = [ number * 2 for number in numbers ]
print (double)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

# None a.k.a null, nill, NaN - Not a Number

In [8]:
niekas = None
print (niekas)
print(type(niekas))

None
<class 'NoneType'>

In [11]:
import random
vardas = ''
if random.random() > 0.5:
    vardas = input('Iveskite varda:')

if vardas != '':
    print( f'Sveikas {vardas}!')

Sveikas Kiril!

In [18]:
import random
vardas = None
if random.random() > 0.5:
    vardas = input('Iveskite varda:')

if vardas != None and vardas != '':
    print( f'Sveikas {vardas}!')
elif vardas != None and vardas == '':
    print('Bandykite dar karta')
else:
    print('Jus nenurodete vardo')

Jus nenurodete vardo

In [23]:
list_1 = [1]
print (list_1.append(100))
print(list_1)
print(list_1.count(1))

None
[1, 100]
1

# Dictionary

In [25]:
me = {
    'vardas': 'Kiril',
    'pavarde': 'Sanko',
    'amzius': 36
}
print(me)

{'vardas': 'Kiril', 'pavarde': 'Sanko', 'amzius': 36}

In [26]:
print(me['vardas'])

Kiril

In [28]:
me[ 'miestas' ] = 'Vilnius'
print(me)

{'vardas': 'Kiril', 'pavarde': 'Sanko', 'amzius': 36, 'miestas': 'Vilnius'}

In [30]:
me[ 'hobiai' ] = ['mmorpg', 'crossfit']
print(me)

{'vardas': 'Kiril', 'pavarde': 'Sanko', 'amzius': 36, 'miestas': 'Vilnius', 'hobiai': ['mmorpg', 'crossfit']}

In [33]:
zmones = [
    {'vardas' : 'Jonas', 'amzius': 35},
    {'vardas': 'Petras', 'amzius': 40}
]
print(zmones)
print(zmones[0]['vardas'])

print('for loop')
for zmogus in zmones:
    print( zmogus['vardas'] )

[{'vardas': 'Jonas', 'amzius': 35}, {'vardas': 'Petras', 'amzius': 40}]
Jonas
for loop
Jonas
Petras

In [34]:
print(me)
print(len(me))

{'vardas': 'Kiril', 'pavarde': 'Sanko', 'amzius': 36, 'miestas': 'Vilnius', 'hobiai': ['mmorpg', 'crossfit']}
5

In [38]:
me = {
    'vardas': 'Kiril', 
    'pavarde': 'Sanko', 
    'amzius': 36, 
    'miestas': 'Vilnius', 
    'hobiai': ['mmorpg', 'crossfit']
}

print(me)
me.pop('amzius')
print(me)

del me['miestas']
print(me)

{'vardas': 'Kiril', 'pavarde': 'Sanko', 'amzius': 36, 'miestas': 'Vilnius', 'hobiai': ['mmorpg', 'crossfit']}
{'vardas': 'Kiril', 'pavarde': 'Sanko', 'miestas': 'Vilnius', 'hobiai': ['mmorpg', 'crossfit']}
{'vardas': 'Kiril', 'pavarde': 'Sanko', 'hobiai': ['mmorpg', 'crossfit']}

# Dictionary is mutable. Be careful. Refer to lesson 3

In [39]:
print (me)

{'vardas': 'Kiril', 'pavarde': 'Sanko', 'hobiai': ['mmorpg', 'crossfit']}

In [43]:
# me.clear()
me = {
    'vardas': 'Kiril', 
    'pavarde': 'Sanko', 
    'amzius': 36, 
    'miestas': 'Vilnius', 
    'hobiai': ['mmorpg', 'crossfit']
}
print(me.get('neegzistuojantis_raktas'))
print(me.get('neegzistuojantis_raktas', 'nerastas')) # Nera klaidos
print(me.get('amzius', 'nerastas'))

None
nerastas
36

In [45]:
me = {
    'vardas': 'Kiril', 
    'pavarde': 'Simbirskij', 
    'amzius': 36
}
print(me)

updated_info = {
    'vardas': 'Kiril', 
    'pavarde': 'Sanko', 
    'amzius': 36, 
    'miestas': 'Vilnius', 
    'hobiai': ['mmorpg', 'crossfit']
}

me.update( updated_info )

print(me)

{'vardas': 'Kiril', 'pavarde': 'Simbirskij', 'amzius': 36}
{'vardas': 'Kiril', 'pavarde': 'Sanko', 'amzius': 36, 'miestas': 'Vilnius', 'hobiai': ['mmorpg', 'crossfit']}

In [47]:
for value in me.values():
    print(value)

Kiril
Sanko
36
Vilnius
['mmorpg', 'crossfit']

In [49]:
for key in me.keys():
    print(key)

vardas
pavarde
amzius
miestas
hobiai

In [51]:
for key, value in me.items():
    print(f'key is {key} witha a value of: {value}')

key is vardas witha a value of: Kiril
key is pavarde witha a value of: Sanko
key is amzius witha a value of: 36
key is miestas witha a value of: Vilnius
key is hobiai witha a value of: ['mmorpg', 'crossfit']

In [52]:
twitter_post = {
  "created_at": "Tue Feb 27 21:11:40 +0000 2018",
  "id": 968594506663669800,
  "id_str": "968594506663669760",
  "text": "RT @honeydrop_506: 180222 ICN #백현 #BAEKHYUNnn나의 겨울과 너nn#iHeartAwards #BestFanArmy #EXOL @weareoneEXO https://t.co/hg7I3xAlBg",
  "truncated": False,
  "in_reply_to_status_id": None,
  "in_reply_to_status_id_str": None,
  "in_reply_to_user_id": None,
  "in_reply_to_user_id_str": None,
  "in_reply_to_screen_name": None,
  "user": {
    "id": 4448809940,
    "id_str": "4448809940",
    "name": "ayah",
    "screen_name": "lovbyun",
    "location": "bbh iu jjh pcy kjd dks",
    "url": "https://curiouscat.me/baekhyun-l",
    "description": "hi hello I love exo",
    "translator_type": "none",
    "protected": False,
    "verified": False,
    "followers_count": 1142,
    "friends_count": 125,
    "listed_count": 20,
    "favourites_count": 5712,
    "statuses_count": 4011,
    "created_at": "Fri Dec 04 03:44:59 +0000 2015",
    "utc_offset": -28800,
    "time_zone": "Pacific Time (US & Canada)",
    "geo_enabled": False,
    "lang": "en",
    "contributors_enabled": False,
    "is_translator": False,
    "profile_background_color": "000000",
    "profile_background_image_url": "http://abs.twimg.com/images/themes/theme1/bg.png",
    "profile_background_image_url_https": "https://abs.twimg.com/images/themes/theme1/bg.png",
    "profile_background_tile": False,
    "profile_link_color": "F58EA8",
    "profile_sidebar_border_color": "000000",
    "profile_sidebar_fill_color": "000000",
    "profile_text_color": "000000",
    "profile_use_background_image": False,
    "profile_image_url": "http://pbs.twimg.com/profile_images/967130320259526656/0xZ-wxXJ_normal.jpg",
    "profile_image_url_https": "https://pbs.twimg.com/profile_images/967130320259526656/0xZ-wxXJ_normal.jpg",
    "profile_banner_url": "https://pbs.twimg.com/profile_banners/4448809940/1519340670",
    "default_profile": False,
    "default_profile_image": False,
    "following": None,
    "follow_request_sent": None,
    "notifications": None
  },
}

In [59]:
new_dict = twitter_post["user"]
print(new_dict["friends_count"])

print(twitter_post["user"]["friends_count"])

125
125

In [66]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(car['brand'])
print(len(car))
car ['year'] = 2022
print(car['year'])

Ford
3
2022

In [68]:
new_items = {
    'color': 'red',
    'used': True
}

car.update(new_items)
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2022, 'color': 'red', 'used': True}

In [69]:
del car['brand']
car['year'] = None
print(car)

{'model': 'Mustang', 'year': None, 'color': 'red', 'used': True}

# Set deklaracija

In [70]:
my_set = {100, 1, 2, 4, 6, 8, 9, 1, 1, 1, 1, 'a', 'b', 'b'}
print(my_set)

{1, 2, 'a', 4, 100, 6, 8, 9, 'b'}

In [73]:
print (1 in my_set)
print (89 in my_set)

True
False

In [74]:
print(len(my_set))

9

In [78]:
my_set = {100, 1, 2, 4, 6, 8, 9, 1, 1, 1, 1, 'a', 'b', 'b'}
print(my_set)
my_set.add(5)
my_set.add(1)
my_set.update([111, 222])
print(my_set)

{1, 2, 'a', 4, 100, 6, 8, 9, 'b'}
{1, 2, 'a', 4, 100, 6, 5, 8, 9, 111, 'b', 222}

In [80]:
my_set = {100, 1, 2, 4, 6, 8, 9, 1, 1, 1, 1, 'a', 'b', 'b'}
print(my_set)
print(my_set.pop())
print(my_set)

{1, 2, 'a', 4, 100, 6, 8, 9, 'b'}
1
{2, 'a', 4, 100, 6, 8, 9, 'b'}

In [82]:
my_set = {100, 1, 2, 4, 6, 8, 9, 1, 1, 1, 1, 'a', 'b', 'b'}
my_set.remove(2)
my_set.discard(2)

In [85]:
my_set_1 = {1, 3, 5, 7}
my_set_2 = {4, 5, 6, 7, 8, 9}
print(my_set_1.union( my_set_2 ))
print(my_set_1.difference( my_set_2 ))
print( my_set_1.intersection( my_set_2))

{1, 3, 4, 5, 6, 7, 8, 9}
{1, 3}
{5, 7}

In [87]:
small_set = {2, 4}
big_set = {1, 2, 3, 4, 5}

print(small_set.issubset(big_set))
print(big_set.issuperset(small_set))

True
True

In [95]:
fruits = {"apple", "banana", "cherry"}
fruits.update(["nauja_reiksme", 5])
print(fruits)

{5, 'nauja_reiksme', 'cherry', 'banana', 'apple'}

In [94]:
fruits = {"apple", "banana", "cherry"}
fruits.remove('apple')
fruits.add('watermelon')
print(fruits)

{'banana', 'watermelon', 'cherry'}

In [98]:
fruits = {"apple", "banana", "cherry"}
fruits.add('watermelon')
fruits.update(['pear', 'pineapple', 'coconut', 'tangerine', 'melon'])
fruits.remove('coconut')
print(len(fruits))
fruits.add('watermelon')
print(len(fruits))

8
8