# Mutable and immutable variables

In [1]:
# immutable variables
a = 1
b = a
print('pries')
print( id(a) )
print( id(b) )
b += 5
print ('po')
print('pries')
print( id(a) )
print( id(b) )
print (a)
print (b)

pries
140693196695856
140693196695856
po
pries
140693196695856
140693196696016
1
6

In [2]:
# mutable variable:
a = [1,2,3]
b = a
print ('pries')
print( id(a) )
print( id(b) )
b.append(10)
print ('po')
print( id(a) )
print( id(b) )
print (a)
print (b)

pries
140692666346368
140692666346368
po
140692666346368
140692666346368
[1, 2, 3, 10]
[1, 2, 3, 10]

In [3]:
# mfixing utable variable:
a = [1,2,3]
b = a.copy()
print ('pries')
print( id(a) )
print( id(b) )
b.append(10)
print ('po')
print( id(a) )
print( id(b) )
print (a)
print (b)

pries
140692412575488
140692666347264
po
140692412575488
140692666347264
[1, 2, 3]
[1, 2, 3, 10]

In [4]:
# where fix #1 doesn't work
a = [1,2, [ 'a', 'b' ] ]
b = a.copy()
print ('pries')
print( id(a) )
print( id(b) )
b[-1].append( 'c' )
print ('po')
print( id(a) )
print( id(b) )
print (a)
print (b)

pries
140692666352128
140692666330240
po
140692666352128
140692666330240
[1, 2, ['a', 'b', 'c']]
[1, 2, ['a', 'b', 'c']]

In [5]:
# fixing mutable variable #2
import copy
a = [1,2, [ 'a', 'b' ] ]
b = copy.deepcopy(a)
print ('pries')
print( id(a) )
print( id(b) )
b[-1].append( 'c' )
print ('po')
print( id(a) )
print( id(b) )
print (a)
print (b)

pries
140692412579584
140692412575488
po
140692412579584
140692412575488
[1, 2, ['a', 'b']]
[1, 2, ['a', 'b', 'c']]

# Tuple

In [7]:
my_tuple = (1, 5, 'b')

In [13]:
print(type(my_tuple))
print(type( () ))

<class 'tuple'>
<class 'tuple'>

In [16]:
print(my_tuple + (54,1))
print(my_tuple)

(1, 5, 'b', 54, 1)
(1, 5, 'b')

In [18]:
print(my_tuple[1])
print(my_tuple[1:])

5
(5, 'b')

In [20]:
my_tuple = (1, 5, 'b')
my_tuple = my_tuple + (54, 1)
print(my_tuple)

(1, 5, 'b', 54, 1)

In [28]:
print(my_tuple.count(1))
print(my_tuple.index(100)) # klaida

2

ValueError: tuple.index(x): x not in tuple

In [31]:
print(len(my_tuple))
print(100 in my_tuple)
print(1 in my_tuple)

5
False
True

In [35]:
my_list = list( my_tuple )
print (type (my_list))
print(my_tuple)
print(my_list)


my_tuple = tuple(my_list)
print (my_tuple)

<class 'list'>
(1, 5, 'b', 54, 1)
[1, 5, 'b', 54, 1]
(1, 5, 'b', 54, 1)

In [41]:
my_tuple = (1, 2, ['3', 4, 5], [6, [7, (8)]])
print (my_tuple [3][1][1])

8

In [45]:
tuple1 = (11, [222, 33], 44, 55)
list1 = list(tuple1)
list1[1][1] = 22
tuple1 = tuple(list1)
print(tuple1)

(11, [222, 22], 44, 55)

In [66]:
tuple2 = (1, 2, 76, 6)
tuple3 = (88, 3, 1, 1)
tuple_new = tuple2 + tuple3
print(tuple_new)
list_new = list(tuple_new)
list_new.pop(-1)
tuple_new = tuple(list_new)
print(tuple_new)
list_new = list(tuple_new)
list_new.sort()
tuple_new = tuple(list_new)
print(tuple_new)
print(tuple_new.count(1))
print(tuple_new[-1])
print(max(tuple_new))

(1, 2, 76, 6, 88, 3, 1, 1)
(1, 2, 76, 6, 88, 3, 1)
(1, 1, 2, 3, 6, 76, 88)
2
88
88

# Range

In [77]:
print( range(10) )
print( type(range(10)) )
print( list( range(10) ) )
print( list( range(-5, 10) ) )
print( list( range(-5, 10, 3) ) )
print( list(range(100, -32, -14) ) )
# range(start, end, step)

range(0, 10)
<class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[-5, -2, 1, 4, 7]
[100, 86, 72, 58, 44, 30, 16, 2, -12, -26]

# For loop (for ciklas)

In [82]:
miestai = ['Vilnius', 'Kaunas', 'Klaipeda', 'Siauliai']

#for <sugalvotas zodis> in <sarasas/tuple/tekstas/range>:
for miestas in miestai:
    # print(miestas)
    # print(miestai)
    print(f'{miestas} yra nuostabus miestas')
print('pabaiga')

Vilnius yra nuostabus miestas
Kaunas yra nuostabus miestas
Klaipeda yra nuostabus miestas
Siauliai yra nuostabus miestas
pabaiga

In [83]:
for number in range(3, 46, 4):
    print (number**2)

9
49
121
225
361
529
729
961
1225
1521
1849

In [88]:
mokejimai = [13.4, 146.45, 546,54]

suma = 0
for mokejimas in mokejimai:
    suma += mokejimas
    print(f'tarpine suma: {suma}')
print(f'galutine suma: {suma}')

tarpine suma: 13.4
tarpine suma: 159.85
tarpine suma: 705.85
tarpine suma: 759.85
galutine suma: 759.85

In [89]:
print( sum(mokejimai) )

759.85

https://docs.python.org/3/library/functions.html

In [90]:
human_input = input('Koks jusu vardas?')

In [91]:
print(human_input)

Kiril

In [92]:
human_input = input('Irasykite skaiciu nuo 1 iki 10')

In [95]:
print(human_input)
print( type(human_input) )

5
<class 'str'>

In [96]:
for number in range(1,11):
    print(number)

1
2
3
4
5
6
7
8
9
10

In [97]:
sum = 0
for number in range(1,51):
    sum += number
print(sum)

1275

In [98]:
human_input = input('Irasykite sveika skaiciu nuo 1 iki 10')
human_input = int(human_input)

for number in range(1, 11):
    print(human_input * number)

2
4
6
8
10
12
14
16
18
20

In [115]:
dienos = ('Pirmadienis', 'Antradienis', 'Treciadienis','Ketvirtadienis', 'Penktadienis', 'Sestadienis' , 'Sekmadienis')
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
list1 = []

for diena in dienos:
    for valanda in valandos:
        i = [diena, valanda]
        list1.append(i)
print(list1)

[['Pirmadienis', 10], ['Pirmadienis', 11], ['Pirmadienis', 12], ['Pirmadienis', 13], ['Pirmadienis', 14], ['Pirmadienis', 15], ['Pirmadienis', 16], ['Pirmadienis', 17], ['Pirmadienis', 18], ['Pirmadienis', 19], ['Antradienis', 10], ['Antradienis', 11], ['Antradienis', 12], ['Antradienis', 13], ['Antradienis', 14], ['Antradienis', 15], ['Antradienis', 16], ['Antradienis', 17], ['Antradienis', 18], ['Antradienis', 19], ['Treciadienis', 10], ['Treciadienis', 11], ['Treciadienis', 12], ['Treciadienis', 13], ['Treciadienis', 14], ['Treciadienis', 15], ['Treciadienis', 16], ['Treciadienis', 17], ['Treciadienis', 18], ['Treciadienis', 19], ['Ketvirtadienis', 10], ['Ketvirtadienis', 11], ['Ketvirtadienis', 12], ['Ketvirtadienis', 13], ['Ketvirtadienis', 14], ['Ketvirtadienis', 15], ['Ketvirtadienis', 16], ['Ketvirtadienis', 17], ['Ketvirtadienis', 18], ['Ketvirtadienis', 19], ['Penktadienis', 10], ['Penktadienis', 11], ['Penktadienis', 12], ['Penktadienis', 13], ['Penktadienis', 14], ['Penktadienis', 15], ['Penktadienis', 16], ['Penktadienis', 17], ['Penktadienis', 18], ['Penktadienis', 19], ['Sestadienis', 10], ['Sestadienis', 11], ['Sestadienis', 12], ['Sestadienis', 13], ['Sestadienis', 14], ['Sestadienis', 15], ['Sestadienis', 16], ['Sestadienis', 17], ['Sestadienis', 18], ['Sestadienis', 19], ['Sekmadienis', 10], ['Sekmadienis', 11], ['Sekmadienis', 12], ['Sekmadienis', 13], ['Sekmadienis', 14], ['Sekmadienis', 15], ['Sekmadienis', 16], ['Sekmadienis', 17], ['Sekmadienis', 18], ['Sekmadienis', 19]]

# If statement (if salygos)

In [113]:
age = int( input('iveskite amzius') )

# vykdoma tik viena dalis, kuri yra True
if age >= 18:
    print(f'jums yra {age} metu, Jus esate pinametis')
elif age > 12:
    print('jums yra tarp 12 ir 18 metu')
else:
    print(f'Jus esate nepilnametis')

jums yra tarp 12 ir 18 metu

In [117]:
x = int( input('iveskite skaiciu:') )

if x % 2 == 0:
    print(f'skaicius {x} yra lyginis')
else:
    print(f'skaicius {x} yra nelyginis')

skaicius 33 yra nelyginis

In [118]:
for number in range(1, 21):
    if number % 3 == 0:
        print(f'{number} dalinasi is 3')

3 dalinasi is 3
6 dalinasi is 3
9 dalinasi is 3
12 dalinasi is 3
15 dalinasi is 3
18 dalinasi is 3

In [140]:
sum = 0

for number in range(1, 51):
    if (sum + number) % 2 == 0:
        sum += number
print(sum)

650

In [143]:
x = int (input('iveskite sveikaji skaiciu:'))

if (x ** 2) % 2 != 0:
    for number in range(1, 11):
        print(x * number)

33
66
99
132
165
198
231
264
297
330

In [135]:
dienos = ('Pirmadienis', 'Antradienis', 'Treciadienis','Ketvirtadienis', 'Penktadienis', 'Sestadienis' , 'Sekmadienis')
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
list1 = []

for diena in dienos:
    if diena == 'Pirmadienis':
        for valanda in valandos:
            if valanda in range (12, 18):
                i = (diena, valanda)
                list1.append(i)
    elif diena == 'Treciadienis':
        for valanda in valandos:
          if valanda in range (12, 18):
                i = (diena, valanda)
                list1.append(i)
print(list1)

[('Pirmadienis', 12), ('Pirmadienis', 13), ('Pirmadienis', 14), ('Pirmadienis', 15), ('Pirmadienis', 16), ('Pirmadienis', 17), ('Treciadienis', 12), ('Treciadienis', 13), ('Treciadienis', 14), ('Treciadienis', 15), ('Treciadienis', 16), ('Treciadienis', 17)]

In [138]:
dienos = ('Pirmadienis', 'Antradienis', 'Treciadienis','Ketvirtadienis', 'Penktadienis', 'Sestadienis' , 'Sekmadienis')
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
list1 = []

for diena in dienos:
    if diena in ['Pirmadienis', 'Treciadienis']:
        for valanda in valandos:
            if valanda in range (12, 18):
                i = (diena, valanda)
                list1.append(i)
print(list1)

[('Pirmadienis', 12), ('Pirmadienis', 13), ('Pirmadienis', 14), ('Pirmadienis', 15), ('Pirmadienis', 16), ('Pirmadienis', 17), ('Treciadienis', 12), ('Treciadienis', 13), ('Treciadienis', 14), ('Treciadienis', 15), ('Treciadienis', 16), ('Treciadienis', 17)]