## Strings

In [5]:
print ('1973'.isdigit())
print (' 1973 '.isdigit())
print ('1973'.strip().isdigit()) #strip metodas pasalina tarpus tekste

True
False
True

## String Operations

In [7]:
'Kiril' + ' ' + 'Simbirskij'

'Kiril Simbirskij'

In [8]:
'hi '*10

'hi hi hi hi hi hi hi hi hi hi '

## String formating. f-string

In [17]:
name = 'Kiril'
surname = 'Simbirskij'
number = '57'

#str() konvertuoja skaičių į tekstą
print( name + ' ' + surname + ',' + ' nice to meet you! Your number is ' + str(number) )

# f-string
print( f'{name} {surname}, nice to meet you! Your number is {number}' )
print( f'    {name}       {surname}, nice to meet you! Your number is {number}' )
print( f'{name       } {surname      }, nice to meet you! Your number is {number}' )

Kiril Simbirskij, nice to meet you! Your number is 57
Kiril Simbirskij, nice to meet you! Your number is 57
    Kiril       Simbirskij, nice to meet you! Your number is 57
Kiril Simbirskij, nice to meet you! Your number is 57

## Numbers

In [20]:
number = 423
number_text = '43'
float_number = 1.5

print( type(number) )
print( type(float_number) )
print( type(number_text) )

<class 'int'>
<class 'float'>
<class 'str'>

## Operations

In [28]:
suma = number + float_number
print(suma)
print(type(suma))
print(10-5)
print(10*5)
print(10/5)

print('dalybos sveikoji dalis')
print(13 // 3) #duoda sveikaja dali dalybos

print('dalybos liekana')
print(13 % 3) #duoda dalybos liekana
print(12%4) 
print(16%2) #liekana galima naudoti, norint nustatyti, ar skaicius yra lyginis
print(17%2)

424.5
<class 'float'>
5
50
2.0
dalybos sveikoji dalis
4
dalybos liekana
1
0
0
1

In [32]:
print('kelimas laipsniu')
print( 2 ** 2 )
print( f'{2}^{2} = {2 ** 2}' )
print( f'{6}^{4} = {6 ** 4}' )

kelimas laipsniu
4
2^2 = 4
6^4 = 1296

In [38]:
suma = 0

kaina_1 = 5.4
kaina_2 = 4.2

suma = suma + kaina_1
suma = suma + kaina_2

print(suma)

suma = 0
suma += kaina_1
suma += kaina_2
print(suma)

sandauga = 1
sandauga *= kaina_1
sandauga *= kaina_2

print(f'sandauga: {sandauga}')

9.600000000000001
9.600000000000001
sandauga: 22.680000000000003

In [52]:
suma = 4+5
skirtumas = 4-5 
sandauga = 4*5
liekana = 4 % 5
dalyba = 4/5
print(f'4+5 = {suma}')
print(f'4-5 = {skirtumas}')
print(f'4*5 = {sandauga}')
print(f'leikana 4 / 5 = {liekana}')
print(f'dalyba 4 / 5 = {dalyba}')

4+5 = 9
4-5 = -1
4*5 = 20
leikana 4 / 5 = 4
dalyba 4 / 5 = 0.8

In [54]:
suma = 4.4+5.5
skirtumas = 4.4-5.5 
sandauga = 4.4*5.5
liekana = 4.4 % 5.5
dalyba = 4.4/5.5
print(f'4.4+5.5 = {suma}')
print(f'4.4-5.5 = {skirtumas}')
print(f'4.4*5.5 = {sandauga}')
print(f'leikana 4.4 / 5.5 = {liekana}')
print(f'dalyba 4.4 / 5.5 = {dalyba}')

4.4+5.5 = 9.9
4.4-5.5 = -1.0999999999999996
4.4*5.5 = 24.200000000000003
leikana 4.4 / 5.5 = 4.4
dalyba 4.4 / 5.5 = 0.8

In [57]:
print(f'atstumas iki Saules yra {150000000 / 384000} kartu didesnis')
print( f'iki Menulio su automobiliu esant 150 km/h greiciui numaziuosime per {384000 / 150} valandu' )

atstumas iki Saules yra 390.625 kartu didesnis
iki Menulio su automobiliu esant 150 km/h greiciui numaziuosime per 2560.0 valandu

In [70]:
from datetime import date

d0 = date(1986, 4, 15)
d1 = date.today()
delta = d1 - d0
print(delta.days)

13448

## Boolean operacijos

In [78]:
bool_true = True

print(bool_true)
print(type(bool_true))
bool_true = bool(1)
print(bool_true)
bool_false = False
print(bool_false)
print(type(bool_false))

print( int(bool_true) )
print( int(bool_false) )

True
<class 'bool'>
True
False
<class 'bool'>
1
0

In [83]:
print( bool( 1 ))
print( bool( -1000 ))
print( bool( 123 ))
print( bool( 0.00001 ))
print( bool( 0 )) #false tik tuo atveju, jeigu yra lygu 0, visa kita True

True
True
True
True
False

In [89]:
print( 2 < 5 )
print( 22 < 5 )
print( 2 > 5 )
print( 22 > 5 )
print( 5 >= 5 )

print('5 == 5')
print(5 == 5) #dvigubas lygybes zenklas - tikrinimas, viengubas - priskirimas

print('5 != 5')
print(5 != 5)

True
False
False
True
True
5 == 5
True
5 != 5
False

In [94]:
text = 'Hello world'
bool_text = 'd' in text
print(bool_text)

print('D' in text)

print(text.islower())
print(text.lower().islower())

True
False
False
True

In [97]:
print( bool('') ) # False tik kai tekstas yra tuscias
print( bool(' ') )
print( bool('tratt') )

False
True
True

In [99]:
print ( not True )
print ( not not True )

False
True

In [103]:
print ('and')
print (20 > 10 and 5 > 1)
print (20 > 10 and 5 < 1)

print ('or')
print (20 > 10 or 5 > 1)
print (20 > 10 or 5 < 1)
print (20 < 10 or 5 < 1)

and
True
False
or
True
True
False

In [110]:
print (10 > 5)
print ('a' in 'auto')
test = bool(1)
print(test)
print(bool('oo'))
print( not False )

print (10 < 5)
print ('A' in 'auto')
test = bool(0)
print(test)
print(bool(''))
print( not True )

True
True
True
True
True
False
False
False
False
False

In [111]:
print ('A' in 'auto')
test = bool(0)
print(test)

False
False

## List

In [112]:
cities = [ 'Vilnius', 'Kaunas', 'Klaipeda']

In [117]:
print(cities)
print(cities[0])
print(type(cities))
print(type(cities[0]))
print(cities[1:])

['Vilnius', 'Kaunas', 'Klaipeda']
Vilnius
<class 'list'>
<class 'str'>
['Kaunas', 'Klaipeda']

In [121]:
numbers = [15, 654, 769, 238, '5']
print(type(numbers[0]))

<class 'int'>

In [126]:
numbers = [154, 44, 33]
print(numbers)
numbers.append( 51 )
print(numbers)

[154, 44, 33]
[154, 44, 33, 51]

In [127]:
numbers.count(51)

1

In [134]:
numbers = [154, 44, 33]
numbers.append( 51 )
print(numbers)
numbers.append( [100, 100] )
print(numbers)
print(numbers[-1])
print(len(numbers))

numbers.extend( [100, 100])
print(numbers)
print(len(numbers))
numbers.count(100) # komandos veikia auksciausiame lygmenyje

[154, 44, 33, 51]
[154, 44, 33, 51, [100, 100]]
[100, 100]
5
[154, 44, 33, 51, [100, 100], 100, 100]
7

2

In [135]:
numbers.index(100)

5

In [141]:
numbers.insert(1, 500)
print(numbers)

[154, 500, 500, 500, 44, 33, 51, [100, 100], 100]

In [137]:
print(numbers)
print(numbers.pop())
print(numbers)

[154, 500, 44, 33, 51, [100, 100], 100, 100]
100
[154, 500, 44, 33, 51, [100, 100], 100]

In [142]:
print(numbers)
print(numbers.remove(500)) # klaida, jei neegzistuoja
print(numbers)

[154, 500, 500, 500, 44, 33, 51, [100, 100], 100]
None
[154, 500, 500, 44, 33, 51, [100, 100], 100]

In [159]:
nested_list = [654, [[[48, [['65']]], 57]]]
list_1 = nested_list[1]
list_2 = list_1[0]
list_3 = list_2[0]
list_4 = list_3[1]
list_5 = list_4[0]
list_6 = list_5[0]
print(list_6)

new_list= nested_list[1][0][0][1][0][0]
print(new_list)

65
65

In [167]:
numbers.reverse()
print(numbers)

[154, 500, 500, 44, 33, 51, [100, 100], 100]
[154, 500, 500, 44, 33, 51, [100, 100], 100]

In [170]:
numbers[::-1]

[100, [100, 100], 51, 33, 44, 500, 500, 154]

In [178]:
numbers = [154, 500, 500, 44, 33, 51, 100]
numbers.sort()
print(numbers)

numbers = [154, 500, 500, 44, 33, 51, 100]
numbers.sort(reverse = True)
print(numbers)

[33, 44, 51, 100, 154, 500, 500]
[500, 500, 154, 100, 51, 44, 33]

In [180]:
numbers = [154, 500, 500, 44, 33, 51, 100]
print ( sorted(numbers))
print(numbers)

print ( sorted(numbers, reverse = True))
print(numbers)

[33, 44, 51, 100, 154, 500, 500]
[154, 500, 500, 44, 33, 51, 100]
[500, 500, 154, 100, 51, 44, 33]
[154, 500, 500, 44, 33, 51, 100]

In [181]:
print(cities)

['Vilnius', 'Kaunas', 'Klaipeda']

In [182]:
cities[2] = 'Siauliai'
print(cities)

['Vilnius', 'Kaunas', 'Siauliai']

In [187]:
print('Vilnius' in cities)
print('Klaipeda' in cities)

True
False

In [189]:
print( bool([])) #False kai yra tuscias
print( bool([0]))

False
True

### Operators with lists

In [192]:
combined = [1, 2, 3] + ['a', 'b', 'c']
print(combined)

[1, 2, 3, 'a', 'b', 'c']

In [194]:
print(combined * 10)

[1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c']

In [ ]:
combined = [1, 2, 3] + ['a', 'b', 'c'] # klaida
print(combined)

In [198]:
print( type ( [] ))
print( type ( () ))

<class 'list'>
<class 'tuple'>